<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Page</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/records">Medical Records</a></li>
                <li><a href="/booking">Booking</a></li>
                <li><a href="/history">Consultation History</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <main>
            <section id="home">
                <h1>Welcome to Our Website</h1>
                <p>This is the home section.</p>
            </section>
            <section id="about">
                <h1>About Us</h1>
                <p>This is the about section.</p>
            </section>
            <section id="services">
                <h1>Our Services</h1>
                <p>This is the services section.</p>
            </section>
            <section id="contact">
                <h1>Contact Us</h1>
                <p>This is the contact section.</p>
            </section>
    
        </main>
        

    </main>
</body>
</html>

