<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>Sign up</title>
  </head>
  <body class="d-flex justify-content-center bg-light vh-100">
    <!-- Boostrap continer for responsive layout -->
    <div class="container-fluid">
      <!-- Centering the row using bootstrap -->
      <div class="row justify-content-center">
        <div class="col-6">
          <!-- Bootstrap card fpr form styling and shadow effect -->
          <div class="card shadow-sm">
            <div class="card-body p-5">
              <!-- Form title with Bootstrap Styling -->
              <h1 class="card-title text-center font-italic">Sign up</h1>
              <!-- Form element for handling user signup; method set to POST  -->
              <form action="/signup" method="POST">
                <div class="mb-4">
                  <!-- first name field with label and input -->
                  <label for="first_name" class="form-label">First Name:</label>
                  <input
                    type="text"
                    id="first_name"
                    name="first_name"
                    class="form-control"
                    required
                  />
                </div>

                <div class="mb-4">
                  <!-- last name field with label and input -->
                  <label for="last_name" class="form-label">Last Name:</label>
                  <input
                    type="text"
                    id="last_name"
                    name="last_name"
                    class="form-control"
                    required
                  />
                </div>

                <div class="mb-4">
                  <!-- Date of Birth field with date input type -->
                  <label for="d_o_b" class="form-label">Date of Birth:</label>
                  <input
                    type="date"
                    id="d_o_b"
                    name="d_o_b"
                    class="form-control"
                    required
                  />
                </div>

                <div class="mb-4">
                  <!-- Sex field with dropdown select for Male/Female options -->
                  <label for="sex" class="form-label">Sex:</label>
                  <select id="sex" name="sex" class="form-select" required>
                    <option value="" selected disabled>Select Sex</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                </div>

                <div class="mb-4">
                  <!-- Phone number field -->
                  <label for="mobile_number" class="form-label"
                    >Phone Number:</label
                  >
                  <input
                    type="tel"
                    id="mobile_number"
                    name="mobile_number"
                    class="form-control"
                    required
                  />
                </div>

                <div class="mb-4">
                  <!-- Email field -->
                  <label for="email" class="form-label">Email:</label>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    required
                  />
                </div>

                <div class="mb-4">
                  <!-- Username field -->
                  <label for="user_name" class="form-label">Username:</label>
                  <input
                    type="user_name"
                    id="user_name"
                    name="user_name"
                    class="form-control"
                    required
                  />
                </div>

                <div class="mb-4">
                  <!-- Address field -->
                  <label for="address" class="form-label">Address:</label>
                  <input
                    type="text"
                    id="address"
                    name="address"
                    class="form-control"
                    required
                  />
                </div>

                <div class="mb-4">
                  <!-- Unit number field -->
                  <label for="unit_number" class="form-label"
                    >Unit Number:</label
                  >
                  <input
                    type="tel"
                    id="unit_number"
                    name="unit_number"
                    class="form-control"
                    required
                  />
                </div>

                <div class="mb-4">
                  <!-- Postal code field -->
                  <label for="postal_code" class="form-label"
                    >Postal Code:</label
                  >
                  <input
                    type="tel"
                    id="postal_code"
                    name="postal_code"
                    class="form-control"
                    required
                  />
                </div>

                <div class="mb-4">
                  <!-- Country field -->
                  <label for="country" class="form-label">Country:</label>
                  <input
                    type="text"
                    id="country"
                    name="country"
                    class="form-control"
                    required
                  />
                </div>

                <div class="mb-4">
                  <!-- Password field -->
                  <label for="password" class="form-label">Password:</label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    required
                  />
                </div>

                <div class="mb-4">
                  <!-- Confirm password field to ensure user retypes password -->
                  <label for="confirm_password" class="form-label"
                    >Confirm Password:</label
                  >
                  <input
                    type="password"
                    id="confirm_password"
                    name="confirm_password"
                    class="form-control"
                    required
                  />
                </div>
                <!-- Submit button styled with Bootstrap -->
                <button type="submit" class="btn btn-dark w-100">
                  Register
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
