/* Footer */
.logo {
  padding-top: 3%;
  padding-bottom: 3%;
}

#footer-container {
  background-color: #306acf;
  color: white;
}

#socials-container {
  display: flex;
}

.socials-img {
  width: 20px;
}

#footer-privacy p a {
  color: white;
  text-decoration: underline;
}
