.navbar {
  background-color: #306acf;
  display: flex;
  margin: 0px;
  padding: 15px;
}

.navbar-nav {
  margin: 5px;
  gap: 20px;
}

.navbar-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar-nav a:hover {
  background-color: #568dec;
}
